<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicinerecommend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineRecommend"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".MakePayment"
            android:exported="false" />
        <activity
            android:name=".Viewbookings"
            android:exported="false" />
        <activity
            android:name=".Viewmedicine"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ViewOut"
            android:exported="false" />
        <activity
            android:name=".AndroidBarcodeQrExample"
            android:exported="false" />
        <activity
            android:name=".ip_setting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>