{% include 'public_header.html' %}

<!-- ======= Hero Section ======= -->
  <section id="hero" style="background-image: url('/static/assets/img/img18.jpg');height: 200px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      
      
   

<center>
	
	<h1 style="color: white">QR CODE</h1>


	 </div>
  </section><!-- End Hero -->
	<table class="table" style="width: 1000px;color: black">
		<tr>
			<th>SL.NO</th>
			<!-- <th>Stock</th> -->
			<th>Manufacture Date</th> 
			<th>QR code</th>
			
		</tr>
		{% for row in data['med'] %}
		<tr>
			<td>{{loop.index}}</td>
			<!-- <td>{{row['stock']}}</td> -->
			<td>{{row['mfg']}}</td> 
			<td><img src="/{{row['QR_code']}}"><td>
		</tr>
		{% endfor %}
	</table>
	</table>
</center>
</form>
</center>

{% include 'footer.html' %}