{% include 'public_header.html' %}
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" style="background-image: url('/static/assets/img/img13.jpg');">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
     
      
   
             
           

     	<form method="post">
		<center>
			<h2>LOGIN</h2>
			<table class="table" style="width: 500px;color: white">
				<tr>
					<th>Username</th>
					<td><input type="text" name="uname" class="form-control" required></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" name="pwd" class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-danger"></td>
				</tr>
			</table>
		</center>
	</form>
								
    
  </div>
  </section><!-- End Hero -->

{% include'footer.html' %}