{% include 'pharmacy_header.html' %}

<!-- ======= Hero Section ======= -->
  <section id="hero" style="background-image: url('/static/assets/img/img18.jpg');height: 700px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      
      
   

<center>
	
	<h1 style="color: white">View Request</h1>
	<table class="table" style="width: 1000px;color: white">
		<tr>
			<th>SL.NO</th>
			<th>Quantity</th>
			<th>Status</th>
			
		</tr>
		{% for row in data['med'] %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['quantity']}}</td>
			
			{% if row['status']=="Provided" %}
			
			<td><a class="btn btn-info" href="phy_make_payment?request_id={{row['request_id']}}&qty={{row['quantity']}}">Make Payment</a></td>
			{% else %}
			<td>{{row['status']}}</td>
			{% endif %}
			 
		</tr>
		{% endfor %}
			
	</table>
	</table>
</center>
</form>
</center>
	
	 </div>
  </section><!-- End Hero -->
{% include 'footer.html' %}